@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap');

:root {
  --primary-color: #2c140a;
  --secondary-color: #cca866;
  --tertiary-color: #b19156;
}
html {
  font-family: 'Cormorant Garamond', serif;
  height: 100%;
}
body {
  background-color: var(--secondary-color);
}
a {
  display: grid;
  text-align: center;
  color: var(--primary-color);
  margin: .6rem;
}
h3 {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin: 0;
  padding-top: 3px;
}
p {
  margin-top: 1rem;
  margin-bottom: .5rem;
}
#main {
  margin: 0;
}
#nav{
  position: fixed;
  display: flex;
  width: 100%;
  padding-left: 1rem;
  padding-top: .3rem;
  top: 0;
  left: 0;
  background-color: #e7c179;
  box-shadow: 0 3px 8px 1px rgba(0,0,0,.8);
}
#logo {
  display: grid;
  padding-left: .5rem;
}
#language {
  display: none;
}
#courses {
  margin-top: 20px;
}
#content {
  display: grid;
  margin-top: 8rem;
  width: 100%;
}
.dish {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
button.dish {
  font: inherit;
  text-align: left;
  background-color: rgba(255,255,255,0.2);
  border: none;
  margin: 10px 0 0 0;
  width: 100%;
  /* border: 1px solid var(--primary-color); */
}
.price {
  text-align: right;
}
.inside > a{
  width: 70%;
  margin-left: .6rem;
}
.menuBtn {
  padding: 5px;
  background-color: rgba(255,255,255,.2);
  font-size: 2rem;
  color: var(--primary-color);
  border: 1.5px solid var(--primary-color);
  border-radius: .8rem;
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,1);
}
.mdi-menu {
  font-size: 2rem;
  margin: 0;
}
.mdi-menu-down {
  font-size: 1.5rem;
  justify-self: center;
  align-self: center;
}
.content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}